.popup {
    background-color: greenyellow;
    font-family: monospace;
}
#userPopup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 100;
    width:min(60%, 450px);
    padding:20px;
}
.iconCloseUser {
    height:20px;
    width:20px;
    float:right;
}
.userPopupTitle {
    color:black;
    font-size: 1.2rem;
}
.userPopupLink,.userPopupTitle {
    padding:5px;
    font-family: monospace;
    margin:0px;
}
.userPopupLink{
    color:blue;
    font-size: 1rem;
}

