.footer {
    background-color: #0a0b2f;
    width:100%;
    height:auto;
    z-index: 500;
    color: white;
    text-align: center;
    padding:5px;
}
.footerH4 {
    margin:0px;
    padding:30px;
    font-size: 0.8rem;
    font-family: monospace;
}
.monospace {
    font-family: monospace;
}
.footer-links {
    font-family: monospace;
    font-size: 13px;
    font-weight: 400;
    color: #dedede;
}
.footer-address {
    font-family: monospace;
    font-size: 13px;
    font-weight: 400;
    color: #dedede;
}