.singleAddressDiv {
     background-color: rgb(230 223 247);
     font-family: monospace;  
     width: -webkit-fill-available
}
.singleAddressContactDiv, .singleAddressNameDiv {
    font-size: 1rem;
    font-weight: bold;
}
.addressDiv {
    width: 100%;
}
.editDiv {
    width: max(60%, 500px);
}
.editButton {
    width: min-content;
}
.editPosition {
    right: 10px;
    top: 10px;
}
.editAddAddress {
    background-color: #e9e5ff;
}