.singleAddressDiv {
     background-color: rgb(230 223 247);
     font-family: monospace;
     border: solid;
     border-width: 1px;
     border-radius: 10px;
     border-color: #e2e2e2;
}
.singleAddressContactDiv, .singleAddressNameDiv {
    font-size: 1rem;
    font-weight: bold;
}