.singleProduct {
    border:solid;
    border-width: 1px;
    border-color: #a1a1a1;
    background: #0000000d;
    width: 300px;
    margin:10px;
}

.singleProductImageDiv {
    text-align: center;
    width: 300px;
    height: 200px;
}

.singleProductImage {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.SingleProductTitleDiv {
    margin:10px;
}

.SingleProductTitle {
    color: rgb(15, 15, 15);
    font-size: 16px!important;
    line-height: 24px!important;
    font-family: "Amazon Ember",Arial,sans-serif;
    font-weight: bolder;
}
.SingleProductPriceDiv {
    margin:10px 0px;
}

.SingleProductPrice {
    color: rgb(15, 15, 15);
    margin: 0px;
    font-size: 1.2rem;
    font-family: monospace;
    padding: 0px 0px 0px 20px;
    font-weight: bold;
    display: inline-block;
}
.SingleOProductPrice {
    display: inline-block;
    -webkit-text-stroke: #a1a1a1;
}

.SingleProductDelete {
    position:relative;
}
.SingleProductDeleteImage {
    height:30px;
    width: 30px;
    position: absolute;
    right:0px;
    top:10px;
}