.SingleProductDetailsDiv {
    background-color: #ececec;
}

.noProductsFoundDiv {
    text-align: center;
    padding:20px;
}

.singleProductDetailsImage {
    max-width: 100%;
}
.rating {
    width:90px;
}
.ratingtext {
    color:#007185;
    font-weight: 600;
}
.ratingimage, .ratingtext {
    display: inline;
}
.inline {
    display: inline-block;
}
.cartQty {
    font-size: 1.2rem;
    width: max-content;
    background-color: #0a0b2f;
    color:white;
    border-radius: 20px;
    text-align: center;
    vertical-align: center;
    font-weight: bold;
    min-width:100px;
    font-weight: bolder;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
.cartAdd {
    padding-left: 12px;
    padding-right: 12px;
    cursor: pointer;
}
.cartCount {
    font-weight: bolder;
}
.SingleProductDetailsPrice {
    font-size: 1.8rem;
    font-weight: 600;
    padding:10px;
    margin:0px;
}
.addToCart {
    border: solid;
    background-color: #FFD43B;
    border-color: #0a0b2f;
    border-width: 1px;
    border-radius: 5px;;
    font-size: 1.2rem;
    margin-left: 20px;
    font-family: monospace;
    font-weight: bolder;
}

.w-50 {
    width:50%;
}